@import "tailwindcss";

.btn {
    @apply text-center px-3 py-2 relative;
}
.btn-primary {
    @apply text-white bg-[#f59c00] hover:bg-[#4d5256];
}
.btn-secondary {
    @apply font-bold;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-75px, -50%);
    display: block;
    width: 65px;
    height: 20px;
    padding-left: 14px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('https://www.wimtec.com/typo3conf/ext/theme/Resources/Public/Icons/pfeil-lang-white.svg');
}