name: Deploy to Webserver via SFTP

on:
  push:
    branches:
      - main  # oder dein Branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Deploy via SFTP
      uses: wlixcc/SFTP-Deploy-Action@v1.2.4
      with:
        username: ${{ secrets.SFTP_USER }}
        server: ${{ secrets.SFTP_HOST }}
        port: 22
        local_path: ./dist   # Pfad zu deinen Build-Dateien
        remote_path: /var/www/html  # Ziel auf dem Server
        password: ${{ secrets.SFTP_PASS }}